<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="./css/styles.css">

        <title>ROOM BOOKING</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            html, body {
      height: 100%;
      background-image: url("https://i.pinimg.com/564x/0a/59/de/0a59decacf2a1f9f426e045c353c55d9.jpg");
      background-size: cover;
    }
            body {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
        </style>
    </head>
    <body background="">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-md-12">
                <h2 class="text-center"><b>BOOK YOUR ROOM</b></h2><br>
                <form>
                <div >
                    <h4 class="text-center">New here? <button> <a href="/signup">Sign-up now</a></h4></button> 
                    <h4 class="text-center">Already have an account? <button><a href="/login">Sign-in</a></h4></button>
                </div>
                </form>
                </div>
        </div>
    </div>
    </body>
</html>